@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

/* Conteneur principal */
.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1200px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 32, 63, 0.2);
    overflow: hidden;
}

/* Bande supérieure  space-between*/
.header-bar {
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 30px 50px;
    font-size: 150px;
    font-weight: bold;


}


.header-bar .texte {
    font-size: 30px;
}

.header-bar .logout-button {
    background-color: white;
    color: darkblue;
    border: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    padding: 12px;
    border-radius: 100px;

}

.header-bar .logout-button:hover {
    background-color: lightgray;

}
.header-bar .logo {
width: 170px; /* Ajustez la taille selon vos besoins */
height: auto;
margin: 0 20px; /* Ajoutez de l'espace autour du logo */
}

/* Contenu principal   "AIzaSyAngF1gSsMbDLaIUkdPfQZz9FIPYnwWepI", */
.dashboard-main {
    display: flex;
    height: 100%;
}

/* Section gauche */
.sidebar {
    width: 286px;
    background-color: lightblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}


.sidebar .liste {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar .liste a {
    background-color: white;
    color: skyblue;
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.sidebar .liste a:hover {
    background-color: lightgray;
}

/* Section droite */
.map-container {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.map-container .map {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 10px;
    background: url('https://via.placeholder.com/800x600?text=Carte') no-repeat center center;
    background-size: cover;
}